.time_qr {
  font-size: 1.7rem;
  text-align: center;
  margin: 10% 0;
  height: 100%;
}
.QRCode {
  position: relative;
}

.QRCode::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
