.listdetail_classroom {
  position: relative;
  max-width: 100%;
  height: 70vh;
  overflow: scroll;
}
.listdetail_classroom table {
  position: absolute;
  /* table-layout: fixed; */
}
.my-custom-scrollbar {
  max-width: 100%;
  overflow: auto;
  position: absolute;
}
.header_detail_classroom {
  border-collapse: separate;
  border-spacing: 0 8px;
  background-color: var(--bs-white);
  font-weight: 600;
}
.text-hidden {
  display: inline-block;
  min-width: 100px; /* chiều rộng của phần tử chứa chữ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .listdetail_classroom table th,
.listdetail_classroom table td {
  width: auto;
  white-space: nowrap;
}

.listdetail_classroom table th:nth-child(1),
.listdetail_classroom table td:nth-child(1) {
  width: 100px;
}

.listdetail_classroom table th:nth-child(2),
.listdetail_classroom table td:nth-child(2) {
  width: 200px;
} */
