.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}
.bg-gradient-info {
  background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}
.bg-gradient-danger {
  /* background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important; */
  background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}
.bg-gradient-1 {
  /* background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important; */
  background: linear-gradient(to right, #0ee492, #e2547a) !important;
}
.bg-gradient-2 {
  /* background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important; */
  background: linear-gradient(to right, #20ec9e, #0260ec) !important;
}

.card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.classroom_content {
  height: 146px;
  width: 270px !important;
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  border-radius: 10px;
  background-color: #fff;
}
.classroom_content:hover {
  transform: scale(1.01);
}
.classroom_header {
  position: relative;
}
.classroom_background_header {
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url('https://gstatic.com/classroom/themes/img_code.jpg');
}

.classroom_content_header {
  position: relative;
  color: #fff;
  padding-bottom: 10px;
}
.classroom_content_header h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.classroom_content_header span {
  font-size: 1rem;
  margin-left: 10px;
}

.classroom_footer {
  margin-top: 10px;
  border-top: 1px solid #333;
  position: relative;
  bottom: 0;
}
