.classroom_content {
  height: 146px;
  width: 270px !important;
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  border-radius: 10px;
  background-color: #fff;
}
.classroom_content:hover {
  transform: scale(1.01);
}
.classroom_header {
  position: relative;
}
.classroom_background_header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url('https://gstatic.com/classroom/themes/img_code.jpg');
}

.classroom_content_header {
  position: relative;
  color: #fff;
  padding-bottom: 10px;
}
.classroom_content_header h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.classroom_content_header span {
  font-size: 1rem;
  margin-left: 10px;
}

.classroom_footer {
  margin-top: 10px;
  border-top: 1px solid #333;
  padding: 10px;
  position: relative;
  bottom: 0;
}
#edit-product {
  background: none;
  z-index: 100;
}
