.contain_qr {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(212, 10, 10, 0.3);
  border-radius: 5px;
  width: 400px !important;
}
.video_qr {
  width: 340px !important;
  height: 300px !important;
}
@media only screen and (max-width: 46.1875em) {
  .video_qr {
    width: 280px !important;
    height: 300px !important;
  }
}
/* Tablet 740-1023 */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  #main {
    margin-left: 0;
  }
  .drawer {
    width: 290px;
  }
}

/* PC 1024 */
@media only screen and (min-width: 64em) {
}
